<template>
  <div>
    <ul>
      <ContactItem
        v-for="(contact, i) of contacts"
        :contact="contact"
        :index="i"
        :key="contact.id"
        v-on:remove-contact="removeContact"
        v-on:change-contact="changeContact"
      />
    </ul>
  </div>
</template>

<script>
import ContactItem from "@/components/ContactItem";
export default {
  props: ["contacts"],
  components: {
    ContactItem,
  },
  methods: {
    removeContact(id) {
      this.$emit("remove-contact", id);
    },
    changeContact(id) {
      this.$emit("change-contact", id);
    },
  },
};
</script>

<style scoped>
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
</style>
