<template>
  <div v-if="isOpen" class="backdrop" @click="close">
    <div class="popup" @click.stop>
      <h1>Change contact:</h1>
      <hr />
      <form>
        <label for="contactName">Name*</label>
        <input
          type="text"
          :placeholder="selectedContact[0].name"
          ref="contactName"
          :value="selectedContact[0].name"
          id="contactName"
        />
        <br /><label for="contactPhone">Phone </label>
        <input
          type="text"
          ref="contactPhone"
          :value="selectedContact[0].phone"
          id="contactPhone"
        />
        <br /><label for="contactEmail">Email </label>
        <input
          type="email"
          ref="contactEmail"
          :value="selectedContact[0].email"
          id="contactEmail"
        /><br />
        <button type="submit" @click.prevent="confirm" @click="close">
          Save change</button
        >&nbsp;
        <button @click="close">Cancel</button>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      name: "",
      email: "",
      phone: "",
      placeholder: "",
      value: "",
    };
  },
  props: {
    isOpen: {
      type: Boolean,
      required: true,
    },
    selectedContact: {
      type: Array,
      required: true,
    },
  },
  methods: {
    confirm() {
      if (this.$refs.contactName.value.trim()) {
        const updatedContact = {
          id: Date.now(),
          name: this.$refs.contactName.value.trim(),
          phone: this.$refs.contactPhone.value.trim(),
          email: this.$refs.contactEmail.value.trim(),
        };
        this.$emit("ok", updatedContact);
        this.name = "";
        this.email = "";
        this.phone = "";
      } else {
        const updatedContact = {
          id: Date.now(),
          name: this.selectedContact[0].name,
          phone: this.$refs.contactPhone.value.trim(),
          email: this.$refs.contactEmail.value.trim(),
        };
        this.$emit("ok", updatedContact);
        this.name = "";
        this.email = "";
        this.phone = "";
      }
    },
    close() {
      this.$emit("close");
      (this.name = ""), (this.phone = ""), (this.email = "");
    },
  },
};
</script>

<style scoped>
.popup {
  top: 50px;
  padding: 20px;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  z-index: 101;
  background-color: white;
  border-radius: 10px;
}

.popup h1 {
  text-align: center;
  margin: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

form {
  width: 360px;
}

input {
  width: 250px;
  margin-top: 10px;
}

label {
  width: 55px;
  display: inline-block;
  text-align: left;
  margin-top: 10px;
}

button {
  margin-top: 20px;
  width: 42%;
}
</style>
