<template>
  <div id="app">
    <h2>Contact Book</h2>
    <hr />
    <AddContact @add-contact="addContact" />
    <hr />
    <Loader v-if="loading" />
    <ContactList
      v-else-if="contacts.length"
      :contacts="contacts"
      @remove-contact="removeContact"
      @change-contact="changeContact"
    />
    <p v-else>No contacts!</p>
    <Popup
      :is-open="isPopupOpen"
      @close="isPopupOpen = false"
      :selectedContact="selectedContact"
      @ok="updateContactInfo"
    >
    </Popup>
  </div>
</template>

<script>
import Popup from "@/components/Popup";
import ContactList from "@/components/ContactList";
import AddContact from "@/components/AddContact";
import Loader from "@/components/Loader";
export default {
  name: "App",
  data() {
    return {
      contacts: [],
      loading: true,
      isPopupOpen: false,
      selectedInxContact: null,
      currentRemoveContact: null,
      selectedContact: [],
    };
  },
  mounted() {
    fetch("https://jsonplaceholder.typicode.com/users/?_limit=4")
      .then((response) => response.json())
      .then((json) => {
        this.contacts = json;
        this.loading = false;
      });
  },

  methods: {
    removeContact(id) {
      this.currentRemoveContact = id;
      this.filterContacts();
      this.selectedInxContact = null;
    },
    addContact(contact) {
      this.contacts.push(contact);
    },
    changeContact(id) {
      this.isPopupOpen = true
      this.selectedInxContact = id
      this.filterContacts(this.selectedInxContact)
      if(this.selectedContact){
        this.selectedContact = this.contacts.filter(t => t.id === this.selectedInxContact)
      } else {
        this.selectedContact = this.contacts.filter(t => t.id === this.selectedInxContact)
      }
    },
    filterContacts() {
      this.contacts = this.contacts.filter(
        (t) => t.id !== this.currentRemoveContact
      );
    },
    updateContactInfo(changedContactDetails){
      if(changedContactDetails.name !== this.selectedContact[0].name || changedContactDetails.email !== this.selectedContact[0].email || changedContactDetails.phone !== this.selectedContact[0].phone) {
        this.isPopupOpen = false
        let currentContact = this.contacts.filter(t => t.id === this.selectedInxContact)
        currentContact[0].name = changedContactDetails.name
        currentContact[0].phone = changedContactDetails.phone
        currentContact[0].email = changedContactDetails.email
      }
    }
  },
  components: {
    ContactList,
    Loader,
    AddContact,
    Popup
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
